.nav-link {
    color: #18216E !important;
  }

  .nav-link.active {
    color: #A63C3C !important;
  }
.card-title {
  color: #18216E !important;
}

.footer {
  color: #A63C3C;
}
.footer2 {
  color: #18216E;
}
